@import '@angular/material';

:host {
    width: min(400px, 100% - 24px);
}

.question {
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .option {
        &.correct {
            background-color: get-color-from-palette($green-palette, 400);
        }

        &.incorrect {
            background-color: get-color-from-palette($red-palette, 400);
        }
    }
}
