<p class="question">{{ word.text | join: ', ' }}</p>
<div class="options">
    <button
        *ngFor="let option of word.options; let index = index"
        mat-raised-button
        class="option"
        [ngClass]="{
            correct: isAnswerShown && option.isCorrect,
            incorrect:
                isAnswerShown && answeredIndex === index && !option.isCorrect
        }"
        (click)="!isAnswerShown ? onOptionClick(index) : null">
        {{ option.text }}
    </button>
</div>
