@import '../../mixins.scss';

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    @include custom-img-bg;
}

.training-modes-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(160px, 1fr) minmax(160px, 1fr);
    justify-content: center;
    gap: 8px;
    margin: 24vh auto 0;
    padding: 8px;

    @include for-phone {
        margin-top: 8vh;
    }

    .card {
        cursor: pointer;
    }
}
