<sng-end-training-btn (click)="onTrainingEnd()"></sng-end-training-btn>
<div class="center-block">
    <sng-cards-swiper
        class="cards-swiper"
        [words]="cards$ | async"
        (indexChanged)="onCardIndexChanged($event)"
        (reachEnd)="onReachEnd()">
    </sng-cards-swiper>
    <mat-checkbox
        color="primary"
        [(ngModel)]="isWordStudied"
        (change)="onStatusChanged($event)"
        tabindex="-1"
        >Изучено</mat-checkbox
    >
</div>
