@import '@angular/material';
@import '../../../mixins.scss';

:host {
    display: flex;
    align-items: center;
    height: 100%;

    @include custom-img-bg;
}

.center-block {
    padding-top: 75px;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cards-swiper {
        flex: 0 0 200px;
        width: 100%;
    }
}
