@import '@angular/material';
@import '../../../../mixins.scss';

:host {
    display: flex;
    flex-direction: column;
    padding: 8px;
    padding-top: 12px;
    border-radius: 8px;
    background-color: get-color-from-palette($gray-palette, 50);

    @include elevation(1);
}

.name {
    align-self: center;
    margin-bottom: 4px;
    padding-left: 12px;
    color: get-color-from-palette($pink-palette, 500);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.description {
    flex: 1;
    margin-bottom: 8px;
    padding-left: 12px;
    font-size: 14px;

    .item {
        display: flex;
        align-items: center;
        padding-left: 4px;
        gap: 4px;

        &::before {
            $size: 16px;
            content: '+';
            min-height: $size;
            min-width: $size;
            line-height: $size;
            border-radius: calc($size / 2);
            text-align: center;
            background-color: get-color-from-palette($green-palette, 400);
            color: #fff;
            font-size: $size;
        }
    }
}
