<span class="name">{{ mode.name }}</span>
<div class="description">
    <span
        *ngFor="let item of mode.descriptionItems"
        ain
        class="item"
        >{{ item }}</span
    >
</div>
