<swiper
    #swiper
    [navigation]="true"
    [virtual]="true"
    (activeIndexChange)="onSlideChange($event)">
    <ng-template
        swiperSlide
        *ngFor="let word of words">
        <div
            #card
            class="word-card carousel-cell"
            [class.flipped]="cardIsFlipped"
            (click)="onCardFlip()">
            <div class="card-content">
                <div class="front">{{ word.front | join: ', ' }}</div>
                <div class="back">
                    {{ word.back | join: ', ' }}
                </div>
            </div>
        </div>
    </ng-template>
</swiper>
