@import '~swiper/css';
@import '~swiper/css/navigation';
@import '@angular/material';

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.word-card {
    user-select: none;
    width: 300px;
    height: 300px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card-content {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        border-radius: 25px;
        font-size: 24px;
        position: relative;
        width: 100%;
        height: 194px;
        transition: transform 0.4s;
        transform-style: preserve-3d;

        .front,
        .back {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border: 2px dashed get-color-from-palette($pink-palette, 500);
            border-radius: 25px;
            background-color: #fff;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-wrap;
            text-align: center;
        }

        .back {
            transform: rotateY(180deg);
        }
    }

    &.flipped .card-content {
        transform: rotateY(180deg);
    }
}
