<ng-container *ngIf="!word.isInDictionary; else addedWord">
    <span
        [class.word]="word.wordId"
        [class.selected]="isSelected"
        [class.added-to-dictionary]="word.isInDictionary"
        (click)="onChangeSelection()"
        >{{ word.text }}</span
    >
</ng-container>
<ng-template #addedWord>
    <span
        #tooltip="matTooltip"
        [class.word]="word.wordId"
        matTooltipPosition="above"
        matTooltip="Слово уже добавлено в словарь"
        class="added-to-dictionary"
        (click)="tooltip.toggle()"
        >{{ word.text }}</span
    >
</ng-template>
