@import '@angular/material';

.word {
    padding: 0 4px;

    &:not(.added-to-dictionary):hover {
        background-color: get-color-from-palette($blue-palette, 100);
        cursor: pointer;
    }

    &.selected {
        background-color: get-color-from-palette($blue-palette, 100, 0.5);
    }

    &.added-to-dictionary {
        color: get-color-from-palette($gray-palette, 400);
    }
}