@import '../../../mixins.scss';
@import '@angular/material';

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include custom-img-bg;
}

.center-block {
    width: min(400px, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .answer-field {
        flex: 0 0 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
