<sng-end-training-btn (click)="onTrainingEnd()"></sng-end-training-btn>
<div class="center-block">
    <sng-answer-field
        class="answer-field"
        [words]="words$ | async"
        (answeredCorrectly)="onAnsweredCorrectly($event)"
        (reachEnd)="onReachEnd()">
    </sng-answer-field>
    <mat-checkbox
        color="primary"
        [(ngModel)]="isWordStudied"
        (change)="onStatusChanged($event)"
        tabindex="-1"
        >Изучено</mat-checkbox
    >
</div>
