<div
    *ngIf="form"
    class="content">
    <span>Вход</span>
    <form
        [formGroup]="form"
        class="form">
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input
                matInput
                formControlName="email"
                type="email" />
            <mat-error
                *ngIf="
                    form.get('email').hasError('required') &&
                    form.get('email').touched
                "
                >Введите E-mail
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Пароль</mat-label>
            <input
                matInput
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'" />
            <mat-error
                *ngIf="
                    form.get('password').hasError('required') &&
                    form.get('password').touched
                ">
                Введите пароль</mat-error
            >
            <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'hidePassword password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon class="eye-icon">{{
                    hidePassword ? 'visibility_off' : 'visibility'
                }}</mat-icon>
            </button>
        </mat-form-field>
        <mat-error *ngIf="loginErr$ | async"
            >Неверная почта или пароль</mat-error
        >
    </form>
    <div class="actions">
        <button
            mat-flat-button
            class="submit-button"
            color="primary"
            cdkFocusInitial
            (click)="onFormSubmit()">
            Войти
        </button>
        <span
            >Не зарегистрированы?
            <a href="/registration">Зарегистрироваться</a></span
        >
    </div>
</div>
