<ng-container *ngIf="!isLoading && songDetails; else loading">
    <mat-icon
        class="close-icon"
        tabindex="-1"
        mat-dialog-close
        >close</mat-icon
    >
    <h1 mat-dialog-title>
        {{ songDetails.authorName }} - {{ songDetails.songName }}
    </h1>
    <div mat-dialog-content>
        <sng-youtube-player
            *ngIf="songDetails.videoUri"
            [src]="songDetails.videoUri">
        </sng-youtube-player>
        <div class="text-container">
            {{ songDetails.text }}
        </div>
    </div>
</ng-container>
<ng-template #loading>
    <sng-loading-spinner></sng-loading-spinner>
</ng-template>
