@import '../../../../../mixins.scss';

:host {
    position: relative;
}

.close-icon {
    align-self: flex-end;
    cursor: pointer;
    position: absolute;
    top: -18px;
    right: -18px;
    @include icon-size(20px);
}

.text-container {
    white-space: pre-wrap;
}
