<div class="content">
    <div class="links">
        <a
            mat-flat-button
            color="primary"
            class="link"
            routerLink="/songs">
            К моим песням
        </a>
        <a
            mat-flat-button
            color="primary"
            class="link"
            routerLink="/words-table">
            К моему словарю
        </a>
        <a
            mat-flat-button
            color="primary"
            class="link"
            routerLink="/training-selection">
            К тренировкам
        </a>
    </div>
    <sng-song-search-field class="song-search-field"></sng-song-search-field>
    <sng-popular-songs-table class="popular-songs"></sng-popular-songs-table>
</div>
