@import '../../mixins.scss';

:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include custom-img-bg;
}

.content {
    flex: 1;
    padding: 0 16px;
    margin-top: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    @include for-phone {
        margin-top: 0;
    }

    .links {
        display: flex;
        align-self: stretch;
        justify-content: center;
        gap: 8px;
        padding: 16px;

        .link {
            display: flex;
            justify-content: center;
            border-radius: 20px;
            font-size: min(12px, 3vw);
        }
    }
}

.song-search-field {
    margin-bottom: 16px;
}

.popular-songs {
    width: min(500px, 100%);
    overflow: hidden;
}
