<div
    *ngIf="form"
    class="content">
    <span>Регистрация</span>
    <form
        [formGroup]="form"
        autocomplete="off"
        class="form">
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input
                matInput
                formControlName="email"
                type="email" />
            <mat-error
                *ngIf="
                    form.get('email').hasError('required') &&
                    form.get('email').touched
                "
                >Введите E-mail
            </mat-error>
            <mat-error
                *ngIf="
                    form.get('email').hasError('email') &&
                    form.get('email').touched
                "
                >Некорректный E-mail
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Пароль</mat-label>
            <input
                matInput
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'" />
            <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'hidePassword password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon class="eye-icon">{{
                    hidePassword ? 'visibility_off' : 'visibility'
                }}</mat-icon>
            </button>
            <mat-error
                *ngIf="
                    form.get('password').hasError('required') &&
                    form.get('password').touched
                ">
                Введите пароль</mat-error
            >
            <mat-error
                *ngIf="
                    form.get('password').hasError('minlength') &&
                    form.get('password').touched
                ">
                Пароль слишком короткий</mat-error
            >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Подтвердите пароль</mat-label>
            <input
                matInput
                formControlName="confirmPassword"
                [type]="hidePassword ? 'password' : 'text'" />
            <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'hidePassword confirm password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon class="eye-icon">{{
                    hidePassword ? 'visibility_off' : 'visibility'
                }}</mat-icon>
            </button>
            <mat-error
                *ngIf="
                    form.get('confirmPassword').hasError('required') &&
                    form.get('confirmPassword').touched
                "
                >Подтвердите пароль</mat-error
            >
            <mat-error
                *ngIf="
                    form.get('confirmPassword').hasError('passwordConfirmed') &&
                    form.get('confirmPassword').touched
                "
                >Пароль не совпадает</mat-error
            >
        </mat-form-field>
        <mat-error *ngIf="signupErr$ | async"
            >Пользователь с такой почтой уже существует</mat-error
        >
    </form>
    <div
        class="actions"
        align="center">
        <button
            mat-flat-button
            class="submit-button"
            color="primary"
            cdkFocusInitial
            (click)="onFormSubmit()">
            Зарегистрироваться
        </button>
        <span>Уже зарегистрированы? <a href="/login">Войти</a></span>
    </div>
</div>
