@import '../../../../mixins.scss';

:host {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include custom-img-bg;
}

.content {
    width: min(400px, 100% - 32px);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;

    .eye-icon {
        @include icon-size(20px);
    }
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .submit-button {
        height: 48px;
    }
}

mat-form-field {
    font-size: 14px;
}
