@import '@angular/material';

:host {
    display: flex;
    gap: 4px;
    cursor: pointer;
}

.language {
    flex: 0 1 120px;
    padding: 0 4px;
    border-radius: 0.5em;
    border: 2px solid get-color-from-palette($pink-palette, 500);
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
}
