<ng-container *ngIf="!isLoading && !noSongsToSelect">
    <h1 mat-dialog-title>Заполнение пропусков</h1>
    <form
        mat-dialog-content
        [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Выберите песню</mat-label>
            <mat-select formControlName="songId">
                <mat-option
                    *ngFor="let song of songs"
                    [value]="song.songId">
                    {{ song.authorName + ' - ' + song.songName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div mat-dialog-actions>
        <button
            mat-flat-button
            mat-dialog-close>
            Отмена
        </button>
        <button
            mat-raised-button
            color="primary"
            (click)="onClose()">
            Начать
        </button>
    </div>
</ng-container>
<ng-container *ngIf="noSongsToSelect">
    <div class="no-songs-to-select">
        У вас нет песен для тренировок
        <button
            mat-raised-button
            color="primary"
            (click)="onGoToSongAdding()">
            Добавить песню
        </button>
    </div>
</ng-container>
<ng-container *ngIf="isLoading">
    <sng-loading-spinner></sng-loading-spinner>
</ng-container>
