.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tools {
    display: flex;
    padding: 9px;
}

.list {
    overflow: auto;
}

.no-songs-added {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 8px;
}

.no-songs-found {
    margin: auto;
}
