<div class="content">
    <div class="tools">
        <sng-search-field
            (fieldInput)="onSearchInput($event)"></sng-search-field>
    </div>
    <div
        sngLoading
        [isLoading]="isLoading"
        class="list">
        <sng-song-list-tile
            *ngFor="let song of songs$ | async"
            [song]="song"
            (click)="onOpenDetails(song.songId)">
        </sng-song-list-tile>
    </div>
    <div
        *ngIf="noSongsAdded"
        class="no-songs-added">
        У вас нет добавленных песен
        <button
            mat-raised-button
            color="primary"
            (click)="onGoToSongAdding()">
            Добавить песню
        </button>
    </div>
    <div
        *ngIf="!isLoading && !noSongsAdded && !(songs$ | async).length"
        class="no-songs-found">
        Песня не найдена
    </div>
    <ng-container *ngIf="isLoading">
        <sng-loading-spinner></sng-loading-spinner>
    </ng-container>
</div>
