@import '@angular/material';
@import '../../mixins.scss';

:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;

    @include custom-img-bg;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    width: min(50% + 400px, 100vw);
    background: rgba(255, 255, 255, 0.5);
    margin-top: 24px;

    @include for-phone {
        margin-top: 0;
    }
}
