<div class="content">
    <div class="tools">
        <sng-search-field
            (fieldInput)="onSearchInput($event)"></sng-search-field>
        <sng-statistics-btn></sng-statistics-btn>
        <sng-words-filter-btn
            (changed)="onFilterValueChanged($event)"></sng-words-filter-btn>
    </div>
    <cdk-virtual-scroll-viewport
        *ngIf="!isLoading && (words$ | async).length"
        itemSize="48"
        class="example-viewport">
        <sng-word-list-tile
            style="height: 48px"
            *cdkVirtualFor="let word of words$ | async"
            [word]="word"
            (click)="onListItemSelect(word)"
            (changeStatus)="
                onChangeStatus($event, word.wordId)
            "></sng-word-list-tile>
    </cdk-virtual-scroll-viewport>
    <ng-container *ngIf="!isLoading && noWordsAdded">
        <div class="no-words-added">
            У вас нет добавленных слов
            <button
                mat-raised-button
                color="primary"
                (click)="onGoToSongAdding()">
                Добавить слова
            </button>
        </div>
    </ng-container>
    <ng-container
        *ngIf="!isLoading && !noWordsAdded && !(words$ | async).length">
        <div class="no-songs-found">Слово не найдено</div>
    </ng-container>
    <ng-container *ngIf="isLoading">
        <sng-loading-spinner></sng-loading-spinner>
    </ng-container>
</div>
