@import '@angular/material';
@import '../../mixins.scss';

:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include custom-img-bg;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    width: min(50% + 400px, 100vw);
    background: rgba(255, 255, 255, 0.5);
    margin-top: 24px;

    @include for-phone {
        margin-top: 0;
    }

    .tools {
        position: sticky;
        width: 100%;
        padding: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    cdk-virtual-scroll-viewport {
        height: 100%;

        ::ng-deep .cdk-virtual-scroll-content-wrapper {
            width: 100%;
        }
    }
}

.no-words-added {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 8px;
}

.no-songs-found {
    margin: auto;
}
