<div class="wrapper">
    <div class="info">
        <div class="title">{{ word.text }}</div>
        <div
            *ngIf="word.translations.length; else translationsNotFound"
            class="subtitle">
            {{ word.translations.join(', ') }}
        </div>
        <ng-template #translationsNotFound
            ><div class="translations-not-found">
                переводов не найдено
            </div></ng-template
        >
    </div>
    <div class="actions">
        <mat-checkbox
            color="primary"
            [checked]="isWordStudied"
            (click)="$event.stopPropagation()"
            (change)="onChangeStatus($event)"
            >выучено</mat-checkbox
        >
    </div>
</div>
