@import '@angular/material';
@import '../../../../mixins.scss';

.card-content {
    position: relative;
    padding: 5px;
    margin: 2px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 300px;
    min-height: 75px;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 3px -1px,
        rgb(0 0 0 / 5%) 0px 1px 3px -1px;

    .foreign {
        padding-left: 10px;
        font-weight: bold;
        font-size: 18px;
    }

    mat-form-field.translates-form-field {
        ::ng-deep {
            .translate-chip {
                background-color: get-color-from-palette($yellow-palette, 50);
                margin: 2px;
                padding: 5px;
                min-height: 24px;

                button {
                    margin: 0;
                }
            }

            .translates {
                .mat-chip-list-wrapper {
                    padding-right: 30px;
                }
            }

            .word-loading-spinner {
                margin-left: 15px;
            }

            .mat-form-field-wrapper {
                padding-bottom: 0;

                .mat-form-field-infix {
                    border-top: 0;
                }
            }
        }

        width: 100%;
    }

    .remove-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        color: get-color-from-palette($red-palette, 200);

        :hover {
            color: get-color-from-palette($red-palette, 400);
        }

        ::ng-deep {
            background-color: transparent;
        }


        mag-icon {
            @include icon-size(30px);
        }
    }
}
