<div class="card-content">
    <mat-form-field
        class="translates-form-field"
        appearance="none">
        <mat-chip-list
            #translateList
            class="translates">
            <span class="foreign">
                {{ word?.text }}
            </span>
            <mat-chip
                *ngFor="let translate of word?.translations"
                class="translate-chip"
                [disableRipple]="true"
                [removable]="true"
                (removed)="onTranslateRemove(translate)">
                {{ translate }}
                <button matChipRemove>
                    <mat-icon>close</mat-icon>
                </button>
            </mat-chip>
            <input
                *ngIf="!word.isLoading; else wordLoadingSpinner"
                placeholder="+перевод"
                autocomplete="off"
                [matChipInputFor]="translateList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="onTranslateAdd($event)" />
            <ng-template #wordLoadingSpinner>
                <mat-spinner
                    class="word-loading-spinner"
                    [diameter]="20"></mat-spinner>
            </ng-template>
        </mat-chip-list>
    </mat-form-field>
    <button
        class="remove-btn"
        mat-icon-button
        (click)="onWordRemove()"
        color="primary">
        <mat-icon aria-label="Close">close</mat-icon>
    </button>
</div>
