<ng-container *ngIf="!isLoading && !tooFewWords">
    <h1 mat-dialog-title>{{ data.title }}</h1>
    <sng-languages-swap class="languages-swap" (swap)="onSwapLanguages($event)"></sng-languages-swap>
    <form
        mat-dialog-content
        [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Количество слов</mat-label>
            <input
                matInput
                formControlName="cardsCount"
                type="number"
                min="1"
                [max]="maxWordsCount"
                autocomplete="off" />
        </mat-form-field>
    </form>
    <div mat-dialog-actions>
        <button
            mat-flat-button
            mat-dialog-close>
            Отмена
        </button>
        <button
            mat-raised-button
            color="primary"
            (click)="onClose()">
            Начать
        </button>
    </div>
</ng-container>
<ng-container *ngIf="tooFewWords">
    <div class="too-few-words">
        У вас слишком мало слов в словаре
        <button
            mat-raised-button
            color="primary"
            (click)="onGoToSongAdding()">
            Добавить слова
        </button>
    </div>
</ng-container>
<ng-container *ngIf="isLoading">
    <sng-loading-spinner></sng-loading-spinner>
</ng-container>
