@import '@angular/material';
@import '../../mixins.scss';

:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    @include for-phone {
        padding-top: 0;
    }

    @include custom-img-bg;
}

.columns {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 24px;
    overflow: hidden;
}

.column {
    padding-top: 16px;

    @include for-phone {
        padding-top: 0;
    }
}

.lyrics-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%, 400px);

    .header {
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
        gap: 8px;
        padding: 12px;

        mat-button-toggle-group {
            border: 1px solid get-color-from-palette($gray-palette, 400);
            box-shadow: none;
            font-size: 12px;
        }

        @include for-tablet {
            padding-top: 12px;
            position: relative;

            .added-words-btn {
                mat-icon {
                    @include icon-size(32px);
                }
            }
        }
    }

    .title {
        align-self: center;
        font-size: 20px;
    }

    .content {
        user-select: none;
        font-size: 18px;
        height: 0;
        flex: auto;
        overflow: auto;

        @include for-phone {
            padding: 8px 8px 0;
        }

        &.lyrics {
            padding: 0 8px;
            white-space: pre-line;
            max-width: 400px;
        }

        &.list {
            display: flex;
            flex-direction: column;
            width: 100%;

            .words-to-select,
            .added-to-dictionary-words {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-wrap: wrap;
            }

            .words-to-select {
                padding-top: 16px;
            }

            .added-to-dictionary-words {
                padding-top: 8px;

                .word {
                    color: get-color-from-palette($gray-palette, 400);
                }
            }

            .category-divider {
                align-self: stretch;
                text-align: center;
                color: get-color-from-palette($gray-palette, 400);
            }
        }
    }

    @include for-tablet {
        align-items: center;
    }
}

.added-words-block {
    display: flex;
    flex-direction: column;
    width: min(100%, 400px);

    @include for-tablet {
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .content {
        flex: auto;
        overflow: auto;
    }

    .title {
        padding-left: 16px;
        font-size: 18px;
    }

    .tip {
        display: flex;
        justify-content: center;
        opacity: 0.7;
        max-width: 300px;
        user-select: none;
        cursor: default;

        animation: blinker 3s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0.1;
        }
    }

    .added-words-list {
        padding: 0 5px;
        height: 0;
    }
}

.actions-footer {
    min-height: 72px;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    @include elevation(3);

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
            font-size: 18px;

            &::after {
                flex-grow: 2;
            }
        }
    }

    @include for-phone {
        min-height: 56px;
    }
}
