<div
    *ngIf="{
        song: song$ | async,
        textItems: textItems$ | async,
        distinctWords: distinctWords$ | async,
        isMobile: isMobile$ | async,
        isTablet: isTablet$ | async
    } as data"
    class="columns">
    <sng-end-training-btn (click)="onLeave()"></sng-end-training-btn>
    <div class="column lyrics-block">
        <div class="header">
            <mat-button-toggle-group
                [value]="currentTextView"
                appearance="legacy"
                (change)="onTextViewModeChange($event)">
                <mat-button-toggle value="text">Текст</mat-button-toggle>
                <mat-button-toggle value="list">Список</mat-button-toggle>
            </mat-button-toggle-group>
            <button
                *ngIf="data.isTablet"
                mat-icon-button
                class="added-words-btn"
                [matMenuTriggerFor]="addedWordsMenu">
                <mat-icon
                    color="primary"
                    matBadgeColor="primary"
                    [matBadge]="addedWords.length"
                    [matBadgeHidden]="!addedWords.length"
                    >list</mat-icon
                >
            </button>
            <mat-menu #addedWordsMenu="matMenu">
                <ng-container *ngIf="addedWords.length; else tip">
                    <div class="content">
                        <sng-word-card
                            *ngFor="let word of addedWords"
                            [word]="word"
                            (remove)="onWordRemove(word.id)"
                            (translateRemove)="
                                onTranslateRemove(word.id, $event)
                            "
                            (translateAdd)="onTranslateAdd(word.id, $event)">
                        </sng-word-card>
                    </div>
                </ng-container>
            </mat-menu>
        </div>
        <span class="title">
            {{
                data.song
                    ? data.song?.authorName + ' - ' + data.song?.songName
                    : ''
            }}
        </span>
        <div
            *ngIf="currentTextView === 'text'"
            sngLoading
            class="content lyrics"
            [isLoading]="isLoading">
            <sng-youtube-player
                *ngIf="data.song?.videoUri"
                [src]="data.song.videoUri">
            </sng-youtube-player>
            <sng-text-item
                *ngFor="let item of data.textItems"
                [word]="item"
                [isSelected]="isSelected(item)"
                (changeSelection)="
                    item.wordId && !isSelected(item)
                        ? onWordAdd(item)
                        : onWordRemove(item.wordId)
                ">
            </sng-text-item>
        </div>
        <div
            *ngIf="currentTextView === 'list'"
            class="content list">
            <div class="words-to-select">
                <ng-container *ngFor="let item of data.distinctWords">
                    <sng-list-item
                        *ngIf="!item.isInDictionary"
                        [word]="item"
                        [isSelected]="isSelected(item)"
                        (changeSelection)="
                            item.wordId && !isSelected(item)
                                ? onWordAdd(item)
                                : onWordRemove(item.wordId)
                        ">
                    </sng-list-item>
                </ng-container>
            </div>
            <ng-container *ngIf="data.distinctWords.length">
                <span class="category-divider"
                    >Добавленные в словарь слова</span
                >
                <div class="added-to-dictionary-words">
                    <ng-container *ngFor="let item of data.distinctWords">
                        <sng-list-item
                            *ngIf="item.isInDictionary"
                            class="word added-to-dictionary"
                            [word]="item">
                        </sng-list-item>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
    <div
        *ngIf="!data.isTablet"
        class="column column-sticky added-words-block">
        <div class="title">Выбранные слова</div>
        <ng-container *ngIf="addedWords.length; else tip">
            <div class="content">
                <sng-word-card
                    *ngFor="let word of addedWords"
                    [word]="word"
                    (remove)="onWordRemove(word.id)"
                    (translateRemove)="onTranslateRemove(word.id, $event)"
                    (translateAdd)="onTranslateAdd(word.id, $event)">
                </sng-word-card>
            </div>
        </ng-container>
        <ng-template #tip>
            <div class="tip">
                Выберите слова, которые вы не знаете, кликая по ним, и затем
                нажмите кнопку "Сохранить слова" внизу экрана
            </div>
        </ng-template>
    </div>
</div>
<div class="actions-footer">
    <div class="actions">
        <ng-container *ngIf="addedWords.length; else addAllWordsButton">
            <button
                class="button"
                mat-flat-button
                color="primary"
                (click)="onSaveSelectedWords()">
                Сохранить слова ({{ addedWords.length }})
            </button>
        </ng-container>
        <ng-template #addAllWordsButton>
            <button
                class="button"
                mat-flat-button
                color="primary"
                (click)="onSaveAllWords()">
                Сохранить все слова
            </button>
        </ng-template>
    </div>
</div>
