<div mat-dialog-content>
    {{ message }}
</div>
<div mat-dialog-actions>
    <button
        mat-flat-button
        mat-dialog-close
        color="primary"
        tabindex="-1">
        Понятно
    </button>
</div>
