@import '@angular/material';

.word {
    padding: 8px;
    font-size: 22px;

    &:not(.added-to-dictionary):hover {
        cursor: pointer;
    }

    &.selected {
        background-color: get-color-from-palette($blue-palette, 100, 0.5);
    }

    &.added-to-dictionary {
        opacity: 0.5;
    }
}
