@import '@angular/material';
@import '../../../mixins.scss';

:host {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;

    @include custom-img-bg;
}

.center-block {
    flex: 1;
    width: min(100%, 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 42px;

    .header {
        padding: 10px 0;
        font-weight: bold;
        font-size: 16px;
    }

    .player {
        width: min(400px, 100%);
    }

    .text {
        flex: 1;
        padding: 0px 12px;
        white-space: pre-line;
        font-size: 18px;
        line-height: 32px;

        .gap {
            display: inline-block;
            min-width: 75px;
            min-height: 1em;
            margin-bottom: -0.25em;
            padding: 0 10px;
            border-radius: 8px;
            border: 1px solid get-color-from-palette($pink-palette, 500);
            line-height: 28px;

            &.answered {
                display: inline;
                border-color: get-color-from-palette($green-palette, 100);
            }
        }
    }
}

.word-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    gap: 8px;
    height: 40px;

    > span {
        height: 40px;
        line-height: 40px;
    }

    .word-count {
        @include circle($bg-color: get-color-from-palette($red-palette, 200));
    }
}
