<sng-end-training-btn (click)="onTrainingEnd()"></sng-end-training-btn>
<ng-container *ngIf="song$ | async; else loading">
    <div class="center-block">
        <div class="header">
            <div>
                {{ (song$ | async)?.authorName }} -
                {{ (song$ | async)?.songName }}
            </div>
        </div>
        <sng-youtube-player
            *ngIf="(song$ | async)?.videoUri"
            class="player"
            [src]="(song$ | async).videoUri">
        </sng-youtube-player>
        <div class="text">
            <ng-container *ngFor="let word of textItems$ | async">
                <ng-container *ngIf="!word.id; else wordGap">
                    {{ word.foreign }}
                </ng-container>
                <ng-template #wordGap>
                    <ng-container *ngIf="word.isAnswered; else emptyGap">
                        <span class="gap answered">
                            {{ word.foreign }}
                        </span>
                    </ng-container>
                    <ng-template #emptyGap>
                        <span
                            class="gap"
                            [matMenuTriggerFor]="menu"
                            (click)="onGapClick(word, $event)"></span>
                    </ng-template>
                </ng-template>
            </ng-container>
        </div>
    </div>
    <mat-menu
        #menu="matMenu"
        class="words-menu">
        <ng-container *ngFor="let word of wordOptions$ | async">
            <button
                *ngIf="word.appearanceCount"
                mat-menu-item
                class="word-item"
                (click)="onOptionSelected(word)"
                (mouseenter)="onWordOptionHover(word)"
                (mouseleave)="onWordOptionLeave()">
                <span>{{ word.foreign }}</span>
                <span
                    *ngIf="word.appearanceCount > 1"
                    class="word-count"
                    >{{ word.appearanceCount }}</span
                >
            </button>
        </ng-container>
    </mat-menu>
</ng-container>
<ng-template #loading>
    <sng-loading-spinner></sng-loading-spinner>
</ng-template>
