.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: calc(100% / 16 * 9);
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
