@import '@angular/material';

:host {
    width: min(calc(100% - 16px), 464px);
    display: flex;

    ::ng-deep {
        mat-autocomplete {
            border-radius: 2px;
        }
    }
}

.search-field-wrapper {
    flex: 1;
    background-color: #fff;
    height: 46px;
    display: flex;
    border-radius: 4px;
    border: 2px solid get-color-from-palette($pink-palette, 500);

    .input {
        flex: 1;
        border: none;
        outline: none;
        border-radius: 4px;
        padding: 4px 12px 0;
    }

    .icon {
        align-self: center;
        margin-right: 8px;
    }
}

.loading-spinner {
    margin: auto;
}
