<div
    class="search-field-wrapper"
    color="primary">
    <input
        #input
        autofocus
        class="input"
        placeholder="Введите название песни для добавления"
        spellcheck="false"
        [formControl]="myControl"
        [matAutocomplete]="auto"
        matAutocompletePosition="below" />
    <mat-icon class="icon">search</mat-icon>
    <mat-autocomplete
        #auto="matAutocomplete"
        (optionActivated)="onOptionActivated($event)"
        (optionSelected)="onOptionSelected($event)">
        <mat-option *ngIf="isLoading && !(filteredOptions$ | async)?.length">
            <mat-spinner
                class="loading-spinner"
                [diameter]="20"></mat-spinner>
        </mat-option>
        <mat-option
            class="options"
            *ngFor="let option of filteredOptions$ | async"
            [value]="option">
            <span
                class="artist"
                [innerHTML]="option.authorName | highlight: toHighlight"></span>
            <span [innerHTML]="option.name | highlight: toHighlight"></span>
        </mat-option>
    </mat-autocomplete>
</div>
