@import '../../../../mixins.scss';

:host {
    position: relative;
}

mat-form-field {
    display: inline;
}

.close-icon {
    align-self: flex-end;
    cursor: pointer;
    position: absolute;
    top: -18px;
    right: -18px;
    @include icon-size(20px);
}
