<mat-icon
    class="close-icon"
    tabindex="-1"
    mat-dialog-close
    >close</mat-icon
>
<h1 mat-dialog-title>{{ model.text }}</h1>
<div mat-dialog-content>
    <mat-form-field
        class="example-chip-list"
        appearance="fill">
        <mat-chip-list
            #chipList
            aria-label="Fruit selection">
            <mat-chip
                *ngFor="let translation of model.translations"
                (removed)="remove(translation)">
                {{ translation }}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <input
                placeholder="Новый перевод"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button
        mat-stroked-button
        mat-dialog-close>
        Отмена
    </button>
    <button
        mat-flat-button
        (click)="onSave()"
        color="primary">
        Сохранить
    </button>
</div>
