<sng-end-training-btn (click)="onTrainingEnd()"></sng-end-training-btn>
<div class="content">
    <sng-answer-options
        class="options"
        [word]="currentWord$ | async"
        (answered)="onAnswer()">
    </sng-answer-options>
    <mat-checkbox
        color="primary"
        [(ngModel)]="isWordStudied"
        (change)="onStatusChanged($event)"
        tabindex="-1"
        >Изучено</mat-checkbox
    >
</div>
