@import '../../../mixins.scss';

:host {
    display: flex;
    align-items: center;
    height: 100%;

    @include custom-img-bg;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .options {
        margin: 24px;
    }
}
