<mat-icon
    class="close-icon"
    tabindex="-1"
    mat-dialog-close
    >close</mat-icon
>
<h1 mat-dialog-title>Статистика</h1>
<div
    *ngIf="!isLoading; else loading"
    mat-dialog-content>
    <p>Всего слов: {{ statistics.countWords }}</p>
    <p>Выученных слов: {{ statistics.countStudiedWords }}</p>
    <p>Слов на изучении: {{ statistics.countStudyWords }}</p>
    <p>Всего песен: {{ statistics.countSongs }}</p>
</div>
<ng-template #loading>
    <sng-loading-spinner></sng-loading-spinner>
</ng-template>
