<div class="wrapper">
    <div class="info">
        <div class="title">{{ song.name }}</div>
        <div class="subtitle">{{ song.authorName }}</div>
    </div>
    <div class="actions">
        <button
            class="start-training-btn"
            mat-flat-button
            color="primary"
            (click)="$event.stopPropagation(); onAddSong()">
            Добавить
        </button>
    </div>
</div>
