@import '@angular/material';

:host {
    display: flex;
    height: 48px;
    cursor: pointer;
}

.wrapper {
    flex: 1;
    display: flex;
    gap: 8px;
    padding: 0 16px;
    overflow: hidden;

    &:hover {
        background-color: get-color-from-palette($grey-palette, 200);
    }

    .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        .title,
        .subtitle {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .title {
            font-size: 16px;
        }

        .subtitle {
            font-size: 14px;
        }
    }

    .actions {
        display: flex;
        align-items: center;

        .start-training-btn {
            height: 24px;
            border-radius: 12px;
            line-height: normal;
        }
    }
}
