<div class="content">
    <div class="title">Добавляют другие пользователи</div>
    <div
        sngLoading
        class="list"
        [isLoading]="isLoading">
        <sng-popular-song-list-tile
            *ngFor="let song of songs$ | async"
            [song]="song"
            (addSong)="onAddSong(song.songId)">
        </sng-popular-song-list-tile>
    </div>
</div>
