<button
    mat-icon-button
    color="primary"
    [mat-menu-trigger-for]="menu">
    <mat-icon>filter_list</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <ng-template matMenuContent>
        <button
            mat-menu-item
            (click)="onItemSelect(WordsFilters.STUDIED)">
            Выученные
        </button>
        <button
            mat-menu-item
            (click)="onItemSelect(WordsFilters.ON_STUDY)">
            На изучении
        </button>
        <button
            mat-menu-item
            (click)="onItemSelect(WordsFilters.ALL)">
            Все
        </button>
    </ng-template>
</mat-menu>
