@import '../../../../mixins.scss';
@import '@angular/material';

.word {
    width: 100%;
    padding: 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    font-weight: bold;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    .field {
        .help-button {
            position: absolute;
            right: -48px;
            top: 12px;
        }

        .correct-answer-icon {
            position: absolute;
            left: -48px;
            top: 12px;
            color: get-color-from-palette($green-palette, 700);
            @include icon-size(32px);
        }
    }

    .all-translations {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}
