<p class="word">{{ words[currentIndex]?.text | join: ', ' }}</p>
<div class="actions">
    <mat-form-field
        appearance="outline"
        class="field"
        color="primary">
        <mat-icon
            *ngIf="fieldState === FieldState.CORRECT"
            class="correct-answer-icon"
            >check</mat-icon
        >
        <input
            #input
            matInput
            spellcheck="false"
            autocomplete="off"
            placeholder="Введите перевод"
            [readonly]="disableInput"
            [formControl]="control"
            (input)="onInput($event.target.value)" />
        <button
            mat-icon-button
            class="help-button"
            (click)="onHelp()">
            <mat-icon>help_outline</mat-icon>
        </button>
    </mat-form-field>
    <div
        class="all-translations"
        *ngIf="currentWordTranslates?.length">
        {{ currentWordTranslates | join: ', ' }}
    </div>
</div>
