<mat-menu
    #menu="matMenu"
    class="confirm-menu">
    <div class="message">{{ message }}</div>
    <div class="actions">
        <button
            mat-button
            class="cancel"
            (click)="onReply(false)">
            Нет
        </button>
        <button
            mat-button
            class="confirm"
            (click)="onReply(true)">
            Да
        </button>
    </div>
</mat-menu>
