@import '@angular/material';

@mixin for-tablet {
    @media (max-width: 800px) {
        @content;
    }
}

@mixin for-phone {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin custom-scroll {
    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background: get-color-from-palette($gray-palette, 400);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: get-color-from-palette($blue-palette, 700);
    }
}

@mixin icon-size($size) {
    font-size: $size;
    width: $size;
    height: $size;
}

@mixin circle(
    $size: 24px,
    $bg-color: get-color-from-palette($gray-palette, 400),
    $color: #fff
) {
    min-height: $size;
    height: $size;
    min-width: $size;
    width: $size;
    background-color: $bg-color;
    border-radius: calc($size / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: calc($size / 1.75);
    color: $color;
    user-select: none;
}

@mixin custom-img-bg {
    &::after {
        content: '';
        background: url('assets/background.jpg');
        opacity: 0.05;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}
