// Positioning
// Display & Box Model
// Color
// Text
// Other
@import '@angular/material';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

@import '../node_modules/@angular/material/theming';
@import 'mixins.scss';
@include mat-core();

$app-primary: mat-palette($mat-pink, 500, 200);
$app-accent: mat-palette($mat-red, 700, 800);
$app-warn: mat-palette($mat-red, 700, 800);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$app-input-primary: mat-palette($mat-pink, 500, 200);
$app-input-accent: mat-palette($mat-red, 100, 200);
$app-input: mat-light-theme($app-input-primary, $app-input-accent);

@include mat-core-theme($app-theme);
@include mat-checkbox-theme($app-theme);
@include mat-button-theme($app-theme);
@include mat-tabs-theme($app-theme);
@include mat-progress-spinner-theme($app-theme);
@include mat-radio-theme($app-theme);
@include mat-form-field-theme($app-theme);
@include mat-input-theme($app-theme);
@include mat-badge-theme($app-theme);
@include mat-icon-theme($app-theme);
@include mat-button-toggle-theme($app-theme);

$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

.mat-button-toggle-checked {
    background-color: mat-color($primary);
    color: mat-color($accent, default-contrast);
}

@include core();

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

    @media (min-width: 481px) {
        @include custom-scroll;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    overflow: overlay;
}

a {
    text-decoration: none;
}

.options {
    .mat-option-text {
        font-weight: bold;

        .highlight {
            font-weight: normal;
        }

        .artist {
            &::after {
                content: ' - ';
            }
        }
    }
}

.mat-menu-panel.words-menu {
    max-height: 50vh;

    .mat-menu-content {
        padding: 0;
    }
}

.success-snackbar {
    background-color: #fff;
    color: get-color-from-palette($blue-palette, 700);
}

.error-snackbar {
    background-color: #fff;
    color: get-color-from-palette($orange-palette, 700);
}

.loading-backdrop {
    background-color: rgba(255, 255, 255, 0.9);
}
