@import '@angular/material';
@import '../../mixins.scss';

.page-wrapper {
    height: 100%;
}

mat-sidenav-content.page-shell-content {
    overflow-y: overlay;
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-sidenav {
    .sidenav-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    width: 80%;
}
