<mat-sidenav-container class="page-wrapper">
    <mat-sidenav-content class="page-shell-content">
        <sng-page-header></sng-page-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav #sidenav>
        <div class="sidenav-header">
            <button
                mat-icon-button
                tabindex="-1"
                (click)="sidenav.toggle()">
                <mat-icon color="primary">close</mat-icon>
            </button>
        </div>
        <div class="sidenav-content">
            <mat-nav-list class="navbar navbar-collapsed">
                <a
                    class="navbar-item"
                    mat-list-item
                    routerLink="/song-search"
                    routerLinkActive="active-route"
                    tabindex="-1"
                    (click)="sidenav.close()"
                    >Поиск</a
                >
                <a
                    class="navbar-item"
                    mat-list-item
                    routerLink="/songs"
                    routerLinkActive="active-route"
                    tabindex="-1"
                    (click)="sidenav.close()"
                    >Песни</a
                >
                <a
                    class="navbar-item"
                    mat-list-item
                    routerLink="/words-table"
                    routerLinkActive="active-route"
                    tabindex="-1"
                    (click)="sidenav.close()"
                    >Мой словарь</a
                >
                <a
                    class="navbar-item"
                    mat-list-item
                    routerLink="/training-selection"
                    routerLinkActive="active-route"
                    tabindex="-1"
                    (click)="sidenav.close()"
                    >Тренировки</a
                >
                <a
                    class="navbar-item"
                    mat-list-item
                    routerLink="/login"
                    routerLinkActive="active-route"
                    tabindex="-1"
                    (click)="sidenav.close(); onLogout()"
                    >Выйти</a
                >
            </mat-nav-list>
        </div>
    </mat-sidenav>
</mat-sidenav-container>
