@import '@angular/material';
@import '../../../../mixins.scss';

:host {
    width: 100%;
    box-shadow: 0 1px 1px get-color-from-palette($gray-palette, 400);
}

.page-header {
    display: flex;
    gap: 10px;
    height: 56px;
    padding: 0 16px;

    @include for-tablet {
        padding: 0 6px;

        .hamburger-icon {
            color: get-color-from-palette($pink-palette, 400);
        }
    }

    @include for-phone {
        height: 52px;
    }
}

.logo {
    color: get-color-from-palette($pink-palette, 500);
    font-size: 20px;
    font-weight: bold;
}

.navbar-full-sized {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
    padding-left: 20px;

    .navbar-item {
        color: get-color-from-palette($pink-palette, 500);
        font-size: 16px;

        &.underlined {
            transition: 200ms;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 12px;

            &.active-route,
            &:hover {
                transition: 100ms;
                border-bottom: 2px solid
                    get-color-from-palette($pink-palette, 400);
            }
        }

        &.min {
            padding: 0 8px;
            cursor: pointer;
        }

        &.login {
            margin-left: auto;
        }
    }
}
