<mat-toolbar class="page-header">
    <button
        *ngIf="isTablet$ | async"
        mat-icon-button
        class="menu-button"
        (click)="onToggleSidenav()">
        <mat-icon class="hamburger-icon">menu</mat-icon>
    </button>
    <a
        routerLink="/search"
        class="logo"
        >Songlish</a
    >
    <mat-nav-list
        *ngIf="(isTablet$ | async) === false"
        class="navbar navbar-full-sized">
        <a
            class="navbar-item underlined"
            href="#"
            routerLink="/song-search"
            routerLinkActive="active-route"
            >Поиск</a
        >
        <a
            class="navbar-item underlined"
            href="#"
            routerLink="/songs"
            routerLinkActive="active-route"
            >Песни</a
        >
        <a
            class="navbar-item underlined"
            href="#"
            routerLink="/words-table"
            routerLinkActive="active-route"
            >Мой словарь</a
        >
        <a
            class="navbar-item underlined"
            href="#"
            routerLink="/training-selection"
            routerLinkActive="active-route"
            >Тренировки</a
        >
        <a
            class="navbar-item login min"
            routerLinkActive="active-route"
            (click)="onLogout()"
            >Выйти</a
        >
    </mat-nav-list>
</mat-toolbar>
